.header {
    width: 100%;
    background-color: #496778;
    box-sizing: border-box;
    padding: 12px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.header-item {
    border: 1px transparent;
    font-family: Roboto, monospace;
    font-size: 0.825rem;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-item:empty {
    visibility: hidden;
}

.players-container {
    max-width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
}

.player {
    background-color: #BBE1FA;
    /*color: #78AAC4;*/
}

.player--current {
    box-shadow: 0 0 15px #EB6228;
    /*text-shadow: 0 0 15px #EB6228;*/
    opacity: 0.5;
}

.turn-feedback {
    color: white;
    background-color: #EB6228;
    font-family: "Roboto Bold", monospace;
}

.turn-info {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.info-entry {
    background-color: white;
}

.info-entry:empty {
    visibility: hidden;
}

.info-entry--bold {
    font-family: "Roboto Bold", monospace;
    text-indent: 0.25rem;
}