.ships-container {
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.ship--ally {
    background-color: bisque;
}

.ship-preview--collision {
    background-color: orange;
    /*opacity: 0.25;*/
}

.ship-preview--correct {
    background-color: green;
}

.ship-preview--incorrect {
    background-color: darkred;
    opacity: 1 !important;
}

.js-ship-1 {
    height: 40px;
    width: 40px;
    background-color: aqua;
}

.js-ship--placed {
    opacity: 0.25;
}

.js-ship-2 {
    height: 80px;
    width: 40px;
    background-color: aqua;
}

.js-ship-3 {
    height: 120px;
    width: 40px;
    background-color: aqua;
}

.js-ship-4 {
    height: 160px;
    width: 40px;
    background-color: aqua;
}